<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>아이디 찾기</title>
</head>
<link href="basic.css" rel="stylesheet">
<body>
	<div>
		<div class="find">
			<h2>아이디 찾기</h2>
			<div class="card">
				<form>
					<div class="form-row">
						<div id="name" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">이름</legend>
								<div>
									<input name="username" type="text" placeholder="이름(실명)을 입력해주세요"
										maxlength="7" class="inputclass">
									<div class="invalid-feedback">이름을 입력해주세요.</div>
									<!-- 입력창 마우스로 클릭시 등장하게 스크립트 작성 -->
								</div>
							</fieldset>
						</div>
						<div id="number" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">가입시 등록한 휴대전화 번호를 입력해주세요.</legend>
								<div>
									<input name="phoneNumber" type="number"
										placeholder="010-XXXX-XXXX" maxlength="11" class="inputclass">
								</div>
							</fieldset>
						</div>
						<div id="certificationNumber" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">인증번호</legend>
								<div>
									<div class="input-group">
										<input name="address" type="text" placeholder="인증번호" size="6"
											class="certificationNumber">
										<button class="btn-certificationNumber">인증번호</button>
									</div>
								</div>
							</fieldset>
						</div>
						<div id="phoneCertification" class="col-12">
							<button type="submit" class="btn-signup">
								<span class="btntext">휴대폰 인증</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>