@charset "EUC-KR";

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    box-sizing: border-box;
    border: none;
}

input {
    border: none;
    outline: none;
}

.wrap {
    display: flex;
}

header.navi-bar {
    display: flex;
    flex-direction: column;
    min-width: 232px;
    max-width: 288px;
    height: 100vh;
    background-color: rgba(111, 182, 192, 0.15);
}

.logo {
    width: 160px;
    height: 36px;
    margin: 33px auto 20px;
    background-image: url("../../../static/image/logo/JOONGSHIN.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.navi-container {
    width: 100%;
    padding-top: 20px;
}

.navi-box {
    margin-bottom: 40px;
}

.flex-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 82%;
    margin: 0 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.board-icon {
    background-image: url("../../image/icons/board.png");
}

.message-icon {
    background-image: url("../../image/icons/message.png");
}

.navi-title {
    font-weight: bold;
    cursor: pointer;
    @media (max-width: 1275px) {
        font-size: 14px
    }
}

.arrow {
    width: 10px;
    height: 10px;
    background-image: url("../../image/icons/arrow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    cursor: pointer;
    transform: rotate(0deg);
}

.list li {
    list-style-type: none;
    padding: 6px;
    @media (max-width: 1275px) {
        font-size: 14px
    }
}

.list li:hover {
    cursor: pointer;
    padding: 6px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.board-list li:first-child {
    color: #00C7AE;
}

main {
    flex-grow: 1;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main-title-box {
    width: 90%;
}

.main-container {
    background-color: white;
    width: 90%;
    min-width: 1040px;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

section.top-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 20%;
    line-height: 30px;
    padding: 10px;
    background-color: rgba(222, 227, 227, 0.6);
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-right: 10px;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url("../../image/icons/search.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.search input {
    background-color: rgba(222, 227, 227, 0.1);
    flex-grow: 1;
    margin-left: 10px;
}



#check-top {
    zoom: 1.3;
}

table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
}

th {
    background-color: rgb(230, 230, 230);
}

th, td {
    text-align: center;
    padding: 10px;
    text-overflow: ellipsis;
}


.delete-btn {
    padding: 12px;
    width: 100px;
    background-color:rgb(210, 210, 210);
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(180, 180, 180);
}