<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 속성을 이용해 board라는 namespace를 가지고 있다. 
  이 파일 내에는 SQL문이 작성되며,
 SQL문은 selectAll이라는 id를 가진 쿼리문이 주석 처리되어 있다. 
 이 쿼리문은 tbl_member 테이블과 tbl_board 테이블을 join하여
 컬럼을 조회하는 내용이다.  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- 
	<select id="selectAll" resultType="boardDTO">
		select board_id, board_title, board_content, board_register_date, board_update_date, board_read_count, m.member_id, member_name 
		from tbl_member m join tbl_board b 
		on m.member_id = b.member_id
	</select>
	 -->
	 
	 <insert id="insert">
	 	insert into test.tbl_test
	 	board_title, board_content, board_register_date, board_update_date, user_
	 	values(#{boardTitle}, #{boardContent},#{boardDate},#{userNumber});
	 </insert>
	 
	 <select id="boardSelectAll" resultType="boardDTO">
		select board_id, board_title, board_content, board_register_date, board_update_date, user_id
		from tbl_member m join tbl_board b
		where board_id = #{boardId}
	</select>
	
	 
</mapper>


















