<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">

	<insert id="insert">
		INSERT INTO tbl_message
		(send_user_id, recieve_user_id, message_contents)
		VALUES(#{sendUserId}, #{recieveUserId}, #{messageContents})
	</insert>
	
	<select id="selectList" resultType="messageDTO">
		SELECT message_id, send_user_id, recieve_user_id, u.user_name, message_contents, message_update_datetime, u.user_profile_image
		FROM tbl_user u join tbl_message m
		<choose>
			<when test="receive">
				on u.user_id = m.send_user_id
				where recieve_user_id = #{userId}
			</when>
			<otherwise>
				on u.user_id = m.recieve_user_id
				where send_user_id = #{userId}
			</otherwise>
		</choose>
		<if test="keyword != ''.toString()">
			and (message_contents like concat('%', #{keyword}, '%') or u.user_name like concat('%', #{keyword}, '%'))
		</if>
		order by message_update_datetime desc
		limit #{start}, 10
	</select>
	
	<select id="selectOne" resultType="messageDTO">
		SELECT message_id, send_user_id, u.user_name, recieve_user_id, message_contents, message_update_datetime, u.user_profile_image
		FROM tbl_user u join tbl_message m
		on u.user_id = 
		<choose>
			<when test="receive">m.send_user_id</when>
			<otherwise>m.recieve_user_id</otherwise>
		</choose>
		where message_id = #{messageId}
	</select>
</mapper>