<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<select id="selectAllBoardList" resultType="boardDTO">
		select board_id, u.user_id,u.user_name, board_title, board_content, board_type, board_status, board_register_date
		from tbl_user u join tbl_board b
		on u.user_id = b.user_id and u.user_id = #{userId}
		limit #{offset}, #{rowCount}
	</select>
	
	<select id="getTotalBoardList" resultType="_int">
		select count(board_id)
		from tbl_board
		where user_id = #{userId}
	</select>
	
	<select id="selectAllCommentList" resultType="commentDTO">
		select c.board_id, c.user_id, comment_id, comment_comments, board_title, comment_register_date
		from tbl_board b join tbl_comment c
		on b.board_id = c.board_id and c.user_id = #{userId}
		limit #{offset}, #{rowCount}
	</select>
	
	<select id="getTotalCommentList" resultType="_int">
		select count(comment_id)
		from tbl_comment
		where user_id = #{userId}
	</select>
	
	<select id="getUserType" resultType="_int">
		select count(user_id)
		from tbl_junior_user
		where user_id = #{userId}
	</select>
	
	<select id="getUserInfo" resultType="userVO">
		select user_id, user_email, user_password, user_name, user_address, user_phonenumber
		from tbl_user
		where user_id = #{userId}
	</select>
	
	<update id="updateName">
		update tbl_user
		set user_name = #{changeName}
		where user_id = #{userId}
	</update>
	
	<select id="selectPw" resultType="string">
		select user_password 
		from tbl_user 
		where user_id = #{userId}
	</select>
	
	<update id="updatePw">
		update tbl_user
		set user_password = #{changePw}
		where user_id = #{userId}
	</update>
	
	<delete id="deleteUser">
		delete from tbl_user
		where user_id = #{userId}
	</delete>
	
	<select id="selectResume" resultType="JuniorUserVO">
		select user_id, user_career_years, user_resume
		from tbl_junior_user
		where user_id = #{userId}
	</select>
	
	<update id="updateResume">
		update tbl_junior_user
		set user_resume = #{userResume}, user_career_years = #{userCareerYears}
		where user_id = #{userId}
	</update>
</mapper>