@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

#app #app-body, #app #app-header {
    opacity: 0;
    transition: opacity .3s ease-in;
}

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

.my-page-community-activity-container {
    max-width: 100%;
}

.community-activity-container {
    max-width: 60.625rem;
    margin: 0 auto;
}

.community-activity-container .community-title-section {
    max-width: 60.625rem;
    margin: 3.125rem auto;
    padding: 0;
}

.community-activity-container .community-title-section .community-activity-title {
    font-size: 2.125rem;
    font-weight: 500;
    margin: 0;
}

.tab-list {
    display: flex;
    border-bottom: 0.0625rem solid #f4f4f4;
    margin: 0;
}

ul {
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0.6875rem 0.25rem 0.8125rem;
    cursor: pointer;
}

.sg-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(169,169,169,var(--tw-text-opacity));
}

.sg-text-body2 {
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
}

.sg-font-regular {
    font-weight: 400;
}

ul li {
    list-style: none;
}

li.selected {
    padding: 0.625rem 0.25rem 0.75rem;
    border-bottom: 0.125rem solid #2d2d2d;
}
li+li {
    margin-left: 1rem;
}

li {
    padding: 0.6875rem 0.25rem 0.8125rem;
    cursor: pointer;
}

.sg-text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(45,45,45,var(--tw-text-opacity));
}

.sg-text-subhead4, .sg-text-subhead5 {
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
}

.sg-font-bold {
    font-weight: 700;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.community-activity-container .no-items {
    margin: 11.25rem 0;
}

i {
    font-style: italic;
}

.no-items>i {
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
}

.no-items>i>img {
    width: 100%;
    height: 100%;
}
img, svg {
    vertical-align: middle;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.no-items>h3 {
    margin-top: 0.75rem;
    line-height: normal;
    font-size: 1.125rem;
    font-weight: 500;
    white-space: pre-line;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.no-items>.help-block {
    white-space: break-spaces;
    color: #b5b5b5;
}

.p2, .swal2-container.sg-swal .swal2-content #swal2-content {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

.text-center {
    text-align: center!important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pro-knowhow-list>ul {
    display: flex;
    margin: -1rem -0.5rem;
    flex-wrap: wrap;
}

.pro-knowhow-list .pro-knowhow-list-item {
    flex: 0 1 33.33%;
}

ul li {
    list-style: none;
}

.item-wrapper {
    padding: 1rem 0.5rem;
}

a {
    color: #323232;
    background-color: transparent;
}
a, a:hover {
    text-decoration: none;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 66.7%;
    border-radius: 8px;
    border: 0.0625rem solid rgba(0,0,0,.05);
    overflow: hidden;
    margin-bottom: 0.75rem;
}

figure {
    margin: 0 0 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 40px;
}

.content-image {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
}

.content-title {
    display: -webkit-box;
    max-height: 3em;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    color: #323232;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.content-writer {
    display: -webkit-box;
    max-height: 1.5em;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: .875rem;
    font-weight: 400;
    color: #737373;
    margin: 0;
    cursor: pointer;
}
