@charset "UTF-8";





/*footer */
.footer-container {
    background: #fff;
    border-top: 0.0625rem solid #e1e1e1;
    padding: 1.3125rem 0 2.5rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.footer-container-row {
    display: block;
    max-width: 60.625rem;
    padding: 0;
}

.footer-container-row .col-content.margin-bottom {
    margin-bottom: 1.875rem;
}

.footer-container-row .col-content {
    display: inline-block;
    vertical-align: top;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-container-row .col-content p.contact {
    padding-bottom: 0.1875rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    color: #00c7ae;
}


.footer-container-row .col-content p.contact {
    padding-bottom: 0.1875rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    color: #00c7ae;
}
.footer-container-row .col-content p {
    padding-bottom: 1.875rem;
}
.footer-container .text {
    margin: 0;
    font-size: .75rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.footer-container-row .col-content .download {
    display: inline-block;
    width: 8.5rem;
    height: 2.25rem;
    background-color: #00c7ae;
    border-radius: 1.28125rem;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    text-align: center;
    border: none;
}

a, a:hover {
    text-decoration: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.footer-container-row .col-content .download img {
    padding-right: 0.375rem;
    margin-top: -0.125rem;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

.footer-container-row .col-content.right{
    float: right;
}

.footer-container-row .col-content {
    display: inline-block;
    vertical-align: top;
}

.footer-container-row .col-content .content-list {
    margin-bottom: 0;
}

.footer-container-row .col-content .content-list>li.open-padding {
    padding-bottom: 0.9375rem;
}

.footer-container-row .col-content .content-list>li {
    vertical-align: top;
    display: inline-block;
    min-width: 5.9375rem;
}

.footer-container-row .col-content .content-list>li span {
    display: block;
}
.footer-container .category{
    padding-bottom: 0.3125rem;
    display: block;
    position: relative;
}
.footer-container .title {
    font-weight: 500;
    color: #323232;
}

.footer-container .text-middle{
    margin: 0;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.footer-container-row .col-content .content-list>li .new-badge {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.125rem;
    padding: 0 0.1875rem;
    background-color: #fa5963;
    font-size: .5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    display: inline;
    border-radius: 8px;
    position: static;
}


.footer-container .title {
    font-weight: 500;
    color: #323232;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.footer-container-row {
    display: block;
    max-width: 60.625rem;
    padding: 0;
}

.term-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.footer-container-row .col-content {
    display: inline-block;
    vertical-align: top;
}
.term-content {
    flex: 1;
}

.footer-container-row .col-content .col-content-list-term {
    line-height: 1.125rem;
    padding-right: 6rem;
    padding-bottom: 0.5rem;
}

.footer-container-row .col-content .col-content-list-term .terms-group {
    display: inline-flex;
}

.footer-container-row .col-content .col-content-list-term .term {
    display: block;
    font-weight: 500;
}

.footer-container .term {
    font-weight: 500;
    margin-right: 1.875rem;
}
.footer-container .term[data-v-4e4965bd]:last-child {
    margin-right: 0;
}
.footer-container-row .col-content .col-content-list-term .term-text {
    display: inline-block;
    font-weight: 400;
}

.footer-container-row .col-content .col-content-guide{
    margin: 0;
}

.footer-container-row .col-content .col-content-guide li {
    display: block;
    padding: 0;
    font-size: .75rem;
}

.footer-container-row .col-content .footer-badge1 {
    padding: 0 0.375rem;
}

.toast-container.vot-bottom-center {
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
.toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: auto;
}

footer{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
}
/*ν‘Έν„° λ*/