@charset "UTF-8";

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

#app #app-body, #app #app-header {
    opacity: 0;
    transition: opacity .3s ease-in;
}

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.container-md, .container-md, .container.container-md {
    max-width: 39.375rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.mypage-container .mypage-title {
    font-size: 2.125rem;
    padding: 3.125rem 0;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: -.0462rem;
    color: #323232;
    margin: 0;
    font-size: 1.5rem;
    padding: 1.875rem 0;
}

.profile-container {
    margin-bottom: 1.25rem;
    font-size: 0;
    padding: 1.5rem 0;
    position: relative;
    background-color: #fff;
    z-index: 3;
}

.profile-container a {
    display: flex;
    align-items: center;
}

a:hover {
    color: #0c0c0c;
}

a, a:hover {
    text-decoration: none;
}

.thumb {
    width: 4.375rem;
    height: 4.375rem;
    min-width: 4.375rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 0.0625rem solid #f2f2f2;
}

.user-profile-picture {
    position: relative;
}

.h-100 {
    height: 100%!important;
}

.user-profile-picture div.is-square {
    border-radius: 0.75rem;
    padding: 0;
    height: 100%;
}

.user-profile-picture div {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}

.user-info {
    flex: 1;
    overflow: hidden;
    text-align: left;
    padding-left: 0.75rem;
}

.user-name {
    display: flex;
    flex: 1;
    font-size: 1.125rem;
    font-weight: 500;
    color: #323232;
}

.name-length {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0.3125rem;
}

user-name .user-type {
    padding-right: 1.5rem;
}

.user-id {
    display: flex;
    font-size: .75rem;
    color: #b5b5b5;
}



.id-length {
    max-width: 30.1875rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-container .account-setting .btn-account-setting {
    border: none;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 0.25rem 0.625rem;
    font-size: .75rem;
    color: #737373;
    font-weight: 500;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}


[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.my-page-menu>ul {
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
}

.underline {
    border-bottom: 0.0625rem solid;
    border-color: #f2f2f2;
}

ul {
    padding: 0;
}

dl, ol, ul {
    margin-top: 0;
}

.my-page-menu .main-menu {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: #323232;
}

ul li {
    list-style: none;
}

a:not([href]), a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

.clickable, [role=button] {
    cursor: pointer;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.cash-store-event-banner.sub-menu-container {
    padding: 0;
}

.cash-store-event-banner.has-event {
    cursor: pointer;
}

.cash-store-event-banner {

    display: flex;
    height: 3rem;
    padding: 1rem 1rem 0.9375rem;
    border-radius: 8px;
    background-color: #eff4ff;
}

.cash-store-event-banner .gift-icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    margin: 0 0.5rem 0.0625rem 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

.cash-store-event-banner .timer, .cash-store-event-banner .title {
    display: flex;
    font-size: .75rem;
    color: #5080fa;
    font-weight: 700;
	flex: auto;
}

.cash-store-event-banner .timer {
    margin-left: 300px;
}

.sub-menu-container {
    padding: 1rem 0;
}

.sub-menu-list {
    position: relative;
    display: flex;
    align-items: center;
}

.sub-content {
    flex: auto;
    text-align: left;
}

.sub-menu {
    display: block;
}

.sub-menu-title {
    font-size: 1rem;
    font-weight: 500;
    color: #323232;
    padding: 0;
}

.teal-badge {
    font-size: .875rem;
    padding: 0.1875rem 0.625rem;
    border-radius: 13px;
    background-color: #00c7ae;
    color: #fff;
    font-weight: 500;
    margin-right: 0.25rem;
}

.my-page-menu .main-menu {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: #323232;
}

.my-page-menu .main-menu-more-btn {
    margin-left: 0.125rem;
    cursor: pointer;
}

.sub-description {
    font-size: 1rem;
    display: block;
    margin-top: 0.375rem;
    color: #b5b5b5;
    white-space: pre-line;
}

.sub-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.btn-registration {
    font-weight: 500;
    color: #00c7ae;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: .875rem;
}

.product-reg-tooltip.top {
    left: unset;
    right: 0;
    transform: translateY(-100%);
}

.tooltip-balloon.top {
    top: -0.5625rem;

}

.tooltip-balloon {
    display: flex;
    position: absolute;
    padding: 0.375rem 0.625rem;
    border: 0.0625rem solid #5080fa;
    border-radius: 4px;
    background: #5080fa;
    font-size: .875rem;
    letter-spacing: -.025rem;
    white-space: nowrap;
    color: #fff;
    z-index: 10;
    line-height: 1.25rem;
}

.product-reg-tooltip.top:after {
    left: unset;
    right: 2.1875rem;
}

.tooltip-balloon.bottom:after, .tooltip-balloon.top:after {
    left: var(--arrowPositionLeft);
    transform: translateX(-50%);
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
}

.tooltip-balloon.top:after {
    bottom: -0.4375rem;
    border-top: 0.4375rem solid #5080fa;
    border-bottom: 0;
}
.tooltip-balloon:after {
    position: absolute;
    content: "";
}

.sub-description {
    font-size: 1rem;
    display: block;
    margin-top: 0.375rem;
    color: #b5b5b5;
    white-space: pre-line;
}

.switch.off {
    background-color: #e1e1e1;
}

.switch:not(.small) {
    width: 3.1875rem;
    height: 1.9375rem;
}
.switch {
    width: 2.5125rem;
    height: 1.525rem;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    background-color: #00c7ae;
    transition: background-color .1s ease-in-out;
}

.switch.off:after {
    left: 0;
}

.switch:not(.small):after {
    left: 1.25rem;
    width: 1.6875rem;
    height: 1.6875rem;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.05), 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1), 0 0.1875rem 0.0625rem 0 rgba(0,0,0,.05);
    margin: 0.125rem;
}

.switch:after {
    content: "";
    position: absolute;
    left: 1rem;
    width: 1.38125rem;
    height: 1.38125rem;
    background-color: #fff;
    border-radius: 0.9688rem;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,.05), 0 0.125rem 0.125rem 0 rgba(0,0,0,.1), 0 0.125rem 0.0625rem 0 rgba(0,0,0,.05);
    margin: 0.0625rem;
    transition: left .1s ease-in-out;
}