@charset "UTF-8";

body{
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

#app #app-body, #app #app-header {
    opacity: 0;
    transition: opacity .3s ease-in;
}

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.container-md, .container-md, .container.container-md {
    max-width: 39.375rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1 {
    line-height: 3.125rem;
    font-size: 2rem;
    margin-top: 3rem;
}

.sign-container.lg {
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

.sign-container.secondary {
    background-color: #f2f2f2;
}

.sign-container {
    background: transparent;
    border: 0;
    border-radius: 8px;
    padding: 1.25rem 1rem;
}

.header {
    flex: 1;
}

.sign-container.secondary .title {
    color: #323232;
}

.title {
    display: flex;
    align-items: flex-start;
    font-size: .875rem;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

.sign-container.lg .title span {
    padding-left: 0.5rem;
}

.title span {
    white-space: pre-line;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}


.margin-bottom-24 {
    margin-bottom: 1.5rem;
}

.form-row>.col, .form-row, .modal .modal-footer .form-row>.btn {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

.col-12 {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.current-password {
    position: relative;
}

.form-group {
    margin-bottom: 1rem;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}



.pt-0, .py-0 {
    padding-top: 0!important;
}

.col-form-label {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    border-style: none;
}

.current-password {
    position: relative;
}

.input-group1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}


.form-control1.is-invalid, input.form-control1.is-valid, textarea.form-control1.is-valid {
    background-image: none;
}

.input-group1>.custom-file, .input-group1>.custom-select, .input-group1>.form-control1, .input-group1>.form-control1-plaintext {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}


.form-control1 {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.current-password button.btn {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 100%;
    font-size: .875rem;
    color: #6FB6C0;
    background-color: transparent;
    border: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn {
	border: 1px solid #6FB6C0;
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}


input {
	outline: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

.current-password .invalid-feedback {
    display: block;
    width: auto;
    font-size: .875rem;
    margin-top: 0.25rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}
.margin-bottm-8 {
    margin-bottom: 0.5rem;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0 5rem;
}

.button-group .btn-cancel.btn-active, .button-group .btn-cancel:hover {
    color: #00c7ae;
    background: #fff;
}

.button-group .btn-cancel {
    color: #00c7ae;
    border: 0.0625rem solid #e1e1e1;
}

.button-group>.btn {
    max-width: 8.875rem;
    flex: 1;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #6FB6C0;
    border-color: #6FB6C0;
}

.button-group>.btn+.btn {
    display: flex;
    justify-content: center;
    margin-left: 0.75rem;
}

a, a:hover {
    text-decoration: none;
}