@charset "UTF-8";

body{
	font-family: 'Noto Sans KR', sans-serif;
}


* {
	word-break: break-word;
}

*, :after, :before {
	box-sizing: border-box;
}

#app #app-body {
	height: 100%;
	position: relative;
	flex-grow: 1;
}

#app #app-body, #app #app-header {
	opacity: 0;
	transition: opacity .3s ease-in;
}
div {
	display: block;
}

#app {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI,
		Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol, Noto Color Emoji;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #323232;
	text-align: left;
	background-color: #fff;
}

#app-body, #app-sticky-nav {
	opacity: 1;
}

.container-fluid.container-md, .container-md, .container.container-md {
	max-width: 39.375rem
}

.container-fluid, .container-lg, .container-md, .container-sm,
	.container-xl {
	width: 100%;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	margin-right: auto;
	margin-left: auto;
}

.mypage-container .mypage-title {
	font-size: 2.125rem;
	padding: 3.125rem 0;
}

.underline {
	border-bottom: 0.0625rem solid;
	border-color: #f2f2f2;
}

.profile-container {
	padding: 1rem 0;
	margin-bottom: 1.25rem;
}

.profile-container a {
	display: flex;
	align-items: center;
}

a, a:hover {
	text-decoration: none;
}

a {
	color: #323232;
	background-color: transparent;
}

.thumb {
	width: 4.375rem;
	height: 4.375rem;
	min-width: 4.375rem;
	border-radius: 0.75rem;
	overflow: hidden;
	border: 0.0625rem solid #f2f2f2;
}

.user-profile-picture {
	position: relative;
}

.h-100 {
	height: 100% !important;
}

element.style {
	background-image:
		url(https://dmmj3ljielax6.cloudfront.net/upload/profile-default/soomgo_99.jpg?h=320&w=320&webp=1);
}

.user-profile-picture .is-square {
	border-radius: 0.75rem;
	padding: 0;
	height: 100%;
}

.user-profile-picture div {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 0.0625rem solid #f2f2f2;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #e1e1e1;
}

.user-info {
	flex: 1;
	overflow: hidden;
	text-align: left;
	padding-left: 0.75rem;
}

.user-name {
	display: flex;
	flex: 1;
	font-size: 1.125rem;
	font-weight: 500;
	color: #323232;
}

.name-length {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 0.3125rem;
}

.user-id {
	display: flex;
	font-size: .75rem;
	color: #b5b5b5;
}

.profile-container a {
	display: flex;
	align-items: center;
}

.profile-container .account-setting .btn-account-setting {
	border: none;
	border-radius: 12px;
	background-color: #f2f2f2;
	padding: 0.25rem 0.625rem;
	font-size: .75rem;
	color: #737373;
	font-weight: 500;
}

.coupon-btn {
	margin-bottom: 0.5rem;
}

.coupon-btn {
	position: relative;
	font-size: .875rem;
	font-weight: 500;
	text-align: left;
	line-height: normal;
	color: #323232;
	border-radius: 8px;
	border: 0.0625rem solid #f2f2f2;
	background-color: #fafafa;
	padding: 1rem 0 1rem 3rem;
	margin-top: 1.375rem;
}

.coupon-btn:before {
	width: 1.5rem;
	height: 1.5rem;
	left: 1rem;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDVhMSAxIDAgMDExIDF2My4xNWExIDEgMCAwMS0uMjIuNjI0bC0uNzguOTc2YTIuMDAxIDIuMDAxIDAgMDAwIDIuNWwuNzguOTc2YTEgMSAwIDAxLjIyLjYyNVYxOGExIDEgMCAwMS0xIDFIM2ExIDEgMCAwMS0xLTF2LTMuMTVhMSAxIDAgMDEuMjItLjYyNEwzIDEzLjI1YTIgMiAwIDAwMC0yLjVsLS43OC0uOTc2QTEgMSAwIDAxMiA5LjE0OVY2YTEgMSAwIDAxMS0xaDE4em0tNi43NSA4YTEuMjUgMS4yNSAwIDEwMCAyLjUgMS4yNSAxLjI1IDAgMDAwLTIuNXptMS4xMjYtMy44OTNhLjc1Ljc1IDAgMDAtMS4wNTYtLjA5MmwtNS43NDUgNC44MmEuNzUuNzUgMCAxMC45NjQgMS4xNWw1Ljc0NS00LjgyYS43NS43NSAwIDAwLjA5Mi0xLjA1OHpNOS41NSA4LjVhMS4yNSAxLjI1IDAgMTAwIDIuNSAxLjI1IDEuMjUgMCAwMDAtMi41eiIgZmlsbD0iIzMyMzIzMiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+)
		50% no-repeat;
}

.coupon-btn:after {
	width: 1rem;
	height: 1rem;
	right: 1rem;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTcgMTRsNS01LTUtNSIgc3Ryb2tlPSIjZTFlMWUxIiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=)
		50% no-repeat;
}

.coupon-btn:after, .coupon-btn:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.my-page-menu>ul {
	margin-bottom: 1.25rem;
}

.my-page-menu .main-menu {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	font-size: 1.125rem;
	font-weight: 700;
	color: #323232;
}

ul li {
	list-style: none;
}

.my-page-menu .main-menu-more-btn {
	margin-left: 0.125rem;
	cursor: pointer;
}

img, svg {
	vertical-align: middle;
}

img {
	border-style: none;
}

.sub-menu-container {
	padding: 1rem 0;
}

.sub-menu-list {
	position: relative;
	display: flex;
	align-items: center;
}

.sub-content {
	flex: auto;
	text-align: left;
}

.sub-menu-title {
	font-size: 1rem;
	font-weight: 500;
	color: #323232;
	padding: 0;
}

.arrow {
	font-size: 0;
}

.right-arrow {
	font-size: .75rem;
}

.my-page-menu .main-menu.alba-badge:after {
	content: "알바 서비스 전용";
	margin: 0.0625rem 0 0.0625rem 0.3125rem;
	background-color: #eafaf9;
	color: #00c7ae;
	font-weight: 500;
	font-size: .75rem;
	height: 1.375rem;
	display: flex;
	align-items: center;
	padding: 0 0.25rem;
	border-radius: 6px;
}

.teal-badge {
	padding: 0.1875rem 0.625rem;
	font-size: .875rem;
	border-radius: 13px;
	background-color: #00c7ae;
	color: #fff;
	font-weight: 500;
	margin-right: 0.25rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}