이용자 게시물
.main-community.slide-knowhow-list[data-v-0b8ae29e] {
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

.container[data-v-2590092d] {
    width: 60.625rem;
    margin: auto auto 5rem;
    padding-left: 0;
    padding-right: 0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 62.5rem;
}

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
    }
style attribute {
    --gnb-height: 72px;
}

:root {
    --blue: #4785ff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff3131;
    --orange: #fd7e14;
    --yellow: #ffce21;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #999;
    --gray-dark: #525252;
    --primary: #00c7ae;
    --secondary: #e1e1e1;
    --success: #00c7ae;
    --info: #17a2b8;
    --warning: #ffce21;
    --danger: #ff3131;
    --light: #fafafa;
    --dark: #525252;
    --breakpoint-xs: 0;
    --breakpoint-sm: 36rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 62rem;
    --breakpoint-xl: 75rem;
    --font-family-sans-serif: "Noto Sans KR","Malgun Gothic",-apple-system,"Segoe UI",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main-community .header.short-bottom[data-v-0b8ae29e] {
    margin-bottom: 1rem;
}

.main-community .header[data-v-0b8ae29e] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.125rem;
}

body {
    margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

.main-community .header .title[data-v-0b8ae29e] {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.5;
    letter-spacing: normal;
     font-size: 1.5rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.go-list[data-v-1b5b0368] {
    color: #00c7ae;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #323232;
    background-color: transparent;
}




#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}

.go-list img[data-v-1b5b0368] {
    width: 1rem;
    margin-top: 0.125rem;
}

img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.desktop-section[data-v-292a6694] {
    display: flex;
    align-items: center;
}

.curation-container.half-list[data-v-292a6694] {
    width: 50%;
    margin-right: 1.875rem;
}

.curation-list[data-v-151ddbec] {
    margin: 0;
}
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.curation-list .curation-list-item .curation-list-wrapper[data-v-151ddbec] {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.125rem;
    margin-bottom: 0.125rem;
    border-bottom: 0.0625rem solid #f4f4f4;
    cursor: pointer;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents.has-thumbnail[data-v-151ddbec] {
    width: calc(100% - 4.875rem);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-top: 0;
    margin-inline-end: 0px;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-title[data-v-151ddbec] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0.1875rem;
    font-size: .875rem;
    font-weight: 500;
    color: #323232;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-content[data-v-151ddbec] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: .875rem;
    color: #737373;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-reactions[data-v-151ddbec] {
    display: flex;
    align-items: center;
    margin-top: 0.375rem;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-reactions .view-count[data-v-151ddbec] {
    margin-right: 0.875rem;
}
.curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-reactions .comment-count[data-v-151ddbec], .curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-reactions .view-count[data-v-151ddbec] {
    display: flex;
    align-items: center;
    font-size: .75rem;
    line-height: 1.5;
    letter-spacing: -.0125rem;
    color: #c5c5c5;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents .curation-reactions .view-count[data-v-151ddbec]:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTggMi41MjZjMi41MTkgMCA0LjgyMSAxLjY0NSA2LjkxIDQuOTMyYTIgMiAwIDAxMCAyLjEzN2MtMi4wODkgMy4yODctNC4zOTEgNC45MzEtNi45MSA0LjkzMXMtNC44MjEtMS42NDQtNi45MS00LjkzMWEyIDIgMCAwMTAtMi4xMzdDMy4xOCA0LjE3MSA1LjQ4MSAyLjUyNiA4IDIuNTI2em0wIDRhMiAyIDAgMTAwIDQgMiAyIDAgMDAwLTR6IiBmaWxsPSIjQzVDNUM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-topic-image[data-v-151ddbec] {
    margin-left: 0.75rem;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-topic-image .topic-thumbnail-image[data-v-151ddbec] {
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border: 0.0625rem solid #f4f4f4;
}

.curation-list .curation-list-item .curation-list-wrapper .curation-contents[data-v-151ddbec] {
    width: 100%;
}
.curation-list .curation-list-item .curation-list-wrapper .curation-contents .topic-name[data-v-151ddbec] {
    margin: 0 0 0.3125rem;
    font-size: .75rem;
    color: #737373;
}

.knowhow-container[data-v-292a6694] {
    flex-direction: column;
    margin: 1.5rem 0;
    display: flex;
    align-items: flex-start;
}
.knowhow-container .knowhow-card-slide[data-v-292a6694] {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
}
.knowhow-container .knowhow-card-slide .thumb-image[data-v-292a6694] {
    border-radius: 8px;
    margin-bottom: 0.5rem;
    border: 0.0625rem solid #e2e2e2;
    /*사진 깨짐*/
    /*width: 20.875rem;*/
    height: 8.75rem;
    margin: 0 1.25rem 0 0;
}

.knowhow-container .knowhow-card-slide .card-desc .service[data-v-292a6694] {
    margin-bottom: 0.5rem;
}

.knowhow-container .knowhow-card-slide .card-desc .author[data-v-292a6694], .knowhow-container .knowhow-card-slide .card-desc .service[data-v-292a6694] {
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #737373;
    margin-bottom: 0;
}


element.style {
    line-height: 1.5;
    max-height: 3rem;
    -webkit-line-clamp: 2;
}
/*아직 면접 이거 놓치면 불합격! 깨짐 */
/* 
.line-clamp[data-v-a3afae98] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
*/

.knowhow-container .knowhow-card-slide .card-desc .title[data-v-292a6694] {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.5rem;
        color: #323232;
}


