@charset "UTF-8";


#app #app-body {
	height: 100%;
	position: relative;
	flex-grow: 1;
}


#app #app-body, #app #app-header {
	opacity: 0;
    transition: opacity .3s ease-in;
}

.post-edit #app-body, .post-write #app-body {
	height: auto!important;
}

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}


div {
    display: block;
}

#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}


body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

.community-container {
	max-width: 100%;
}

.container {
	width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.soomgo-life-container {
	max-width: 100%;
    height: 100%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

.select-subject-header {
	height: 3.5rem;
    padding: 1rem 0;
    background-color: #fff;
}

.select-subject-header .subject-header-wrapper {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.625rem;
    height: 100%;
    margin: auto;
}

.select-subject-header .subject-header-wrapper .back-button {
    display: none;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

.select-subject-header .subject-header-wrapper .post-subject-select-box {
	padding-left: 0;
	width: auto;
    border: 0;
    font-weight: 500;
    color: #2d2d2d;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgNy41bDUuNDE3IDYuNjY3TDE1LjgzMyA3LjV6IiBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    background-size: 1.25rem;
    background-position: right 0.875rem top 50%,0 0;
    background-repeat : no-repeat;
}

.custom-select {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxOGgxOFYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE0LjQzNCA2Ljc1MWwtNS40IDUuNC01LjQtNS40Ii8+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat,repeat;
    background-position: right 0.7em top 50%,0 0;
    background-size: 1em auto,100%;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 2rem 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23525252' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 1rem center/0.5rem 0.625rem");
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sg-text-subhead2, .sg-text-subhead3 {
	font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.3px;
}

.sg-font-medium {
    font-weight: 500;
}


select {
    word-wrap: normal;
}


button, select {
    text-transform: none;
}


button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}


.select-subject-header .subject-header-wrapper .write-post-submit {
	font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #c5c5c5;
    background: #fff;
    border: 0;
    padding: 0 1rem 0 0;
    cursor: default;
}

.btn.btn-outline-secondary, .btn.btn-secondary {
    color: #737373;
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #323232;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.btn.disabled, .btn:disabled {
    opacity: 1;
}
.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}
.btn-secondary {
    color: #323232;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


button {
    border-radius: 0;
}

.attach-file-wrapper {
	display: flex;
    justify-content: center;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    background-color: #fafafa;
    margin: 0 -1rem;
    border-top: 0.0625rem solid #f4f4f4;
    border-bottom: 0.0625rem solid #f4f4f4;
}

.attach-file-wrapper .attach-file-area {
	width: 60.625rem;
	display: flex;
    align-items: center;
}

.attach-file-wrapper .attach-file-area .add-image-icon {
	width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.4375rem;
    -o-object-fit: contain;
    object-fit: contain;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjc1IDIuNWwxLjY3OCAxLjc2aDIuOTA1YzEuMDA5IDAgMS44MzQuNzkgMS44MzQgMS43NTl2MTAuNTU1YzAgLjk2OC0uODI1IDEuNzYtMS44MzQgMS43NkgyLjY2N2MtMS4wMDkgMC0xLjgzNC0uNzkyLTEuODM0LTEuNzZWNi4wMmMwLS45NjguODI1LTEuNzYgMS44MzQtMS43NmgyLjkwNUw3LjI1IDIuNWg1LjV6TTEwIDguMTU1Yy0xLjg5OCAwLTMuNDM4IDEuNTItMy40MzggMy4zOTMgMCAxLjg3MiAxLjU0IDMuMzkyIDMuNDM4IDMuMzkyIDEuODk4IDAgMy40MzgtMS41MiAzLjQzOC0zLjM5MiAwLTEuODczLTEuNTQtMy4zOTMtMy40MzgtMy4zOTN6IiBmaWxsPSIjMkQyRDJEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat 50%;
    cursor: pointer;
}

.attach-file-wrapper .attach-file-area .file-input {
	display: none;
}

.custom-file, .custom-file-input {
	position: relative;
    width: 100%;
    height: calc(1.5em + 1.5rem);
}

.custom-file {
	margin-bottom: 0;
}

.custom-file-input {
	margin: 0;
    opacity: 0;
}

.custom-file-label {
	white-space: nowrap;
    overflow-x: hidden;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 1.5rem);
    font-weight: 400;
    background-color: #fff;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
}

.custom-control-label:before, .custom-file-label, .custom-select {
	    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-file-label, .custom-file-label:after {
	position: absolute;
    top: 0;
    right: 0;
    padding: 0.6875rem 1rem;
    line-height: 1.5;
    color: #323232;
}

label {
	display: inline-block;
    margin-bottom: 0.5rem;
}

.d-block {
    display: block!important;
}

.attach-file-wrapper .attach-file-area .image-count {
	font-weight: 500;
    color: #888;
}

.sg-text-body2 {
	font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
}

.sg-font-regular {
	font-weight: 400;
}

.editor-body-container.is-bottom-margin {
	margin-bottom: 6.1875rem;
}

.editor-body-container {
	display: flex;
    justify-content: center;
}

.editor-body-container .editor-body-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.editor-title-wrapper .editor-title-container, .editor-title-wrapper {
	width: 100%;
}

.editor-title-wrapper .editor-title-container {
	width: 60.625rem;
    margin: auto;
}

.editor-title-wrapper .editor-title-container .editor-title-label {
	width: 100%;
    padding: 1.25rem 0;
    margin: 0;
}

label {
	display: inline-block;
	cursor: default;
}

.editor-title-wrapper .editor-title-container .post-title-input {
	width: 100%;
    border: 0;
    padding: 0;
}

.sg-text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(45,45,45,var(--tw-text-opacity));
}
.sg-text-subhead4, .sg-text-subhead5 {
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
}
.sg-font-medium {
    font-weight: 500;
}

.divider-wrapper {
	width: 60.625rem;
	margin: auto;
}

.divider-wrapper .hr-divider {
	width: 100%;
    height: 0.0625rem;
    border: 0;
    margin: 0;
    background-color: #f4f4f4;
}

hr {
	box-sizing: content-box;
    overflow: visible;
}

.service-region-wrapper {
	display: flex;
    align-items: center;
    width: 60.625rem;
    margin: auto;
}

.service-region-wrapper .category-select-box:first-child {
	margin-right: 1.5rem;
	display: flex;
    align-items: center;
    width: 11.5rem;
    padding: 1.25rem 0;
    border: 0;
    background-color: #fff;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
	cursor: pointer;
}

.service-region-wrapper .category-select-box .text {
	width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .875rem;
    line-height: 1.57;
    letter-spacing: -.01875rem;
    color: #888;
    font-weight: 500;
}

.service-region-wrapper .category-select-box:after {
	content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxNmgxNlYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjODg4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEyLjgzIDYuMDAxbC00LjggNC44LTQuOC00LjgiLz48L2c+PC9zdmc+);
    background-position: 50%;
    background-repeat: no-repeat;
}

.service-region-wrapper .category-select-box {
	display: flex;
    align-items: center;
    width: 11.5rem;
    padding: 1.25rem 0;
    border: 0;
    background-color: #fff;
}

.editor-contents {
	width: 60.625rem;
    min-height: 22.5rem;
    height: 100%;
    position: relative;
    margin: auto;
}

.editor-contents .editor-contents-textarea {
	width: 100%;
    height: 100%;
    min-height: 20rem;
    resize: none;
    padding: 1.25rem 0;
    border: 0;
    background-color: transparent;
}

textarea {
	-webkit-appearance: none;
	overflow: auto;
}

.editor-contents .editor-contents-textarea-placeholder {
	position: absolute;
    top: 1.25rem;
    left: 0;
    white-space: pre-line;
    margin: 0;
    z-index: -1;
}

.sg-text-gray-500 {
	--tw-text-opacity: 1;
    color: rgba(136,136,136,var(--tw-text-opacity));
}

