@charset "UTF-8";

body, html {
    height: 100%;
}

* {
    word-break: break-word;
}

#app[data-is-loaded=true] {
    opacity: 1;
}

#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

#app #app-header {
    /* opacity: 0; */
    transition: opacity .3s ease-in;
}

#app-header {
    border-bottom: 0.0625rem solid #f2f2f2;
    height: 4.5rem;
}

* {
    box-sizing: border-box;
}

.global-naviation-bar {
    height: 4.5rem;
    padding: 0;
    border-bottom: none;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}



.d-lg-block {
    display: block!important;
}

.desktop-header {
    width: 60.625rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

desktop-header .left-section, .desktop-header .right-section {
    display: flex;
    align-items: center;
}

.desktop-header .badge-count {
    border-radius: 50px;
    padding: 0 0.375rem;
    margin-left: 0.25rem;
    background-color: #fa5963;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1rem;
}

.badge.badge-danger {
    background-color: #ff3131;
    color: #fff;
}

.badge {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

desktop-header .logo {
    margin-right: 1.875rem;
}

a {
    color: #323232;
    background-color: transparent;
    text-decoration: none;
}

img {
    border-style: none;
    vertical-align: middle;
}

nav{
    display: block;
}

.desktop-header .nav-list {
    display: flex;
    margin: 0;
}

ul {
    padding: 0;
}

.desktop-header .left-section-item:first-child {
    margin-left: 0;
}

.desktop-header .nav-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.desktop-header .left-section-item {
    margin-left: 1.125rem;
    font-weight: 500;
}

ul li {
    list-style: none;
}

desktop-header .right-section {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.d-lg-block {
    display: block!important;
}

.desktop-header {
    width: 60.625rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-header .left-section, .desktop-header .right-section {
    display: flex;
    align-items: center;
}

.desktop-header .logo {
    margin-right: 1.875rem;
}

a {
    color: #323232;
    background-color: transparent;
    text-decoration: none;
}

.desktop-header .logo img {
    height: 1.6875rem;
}

img {
    vertical-align: middle;    
    border-style: none;
}

.desktop-header .right-section-item:first-child {
    margin-left: 0;
}

.desktop-header .nav-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.desktop-header .right-section-item .gnb-link {
    font-size: .875rem;
}

.desktop-header .right-section-item {
    margin-left: 1rem;
}

.notification-counter {
    position: relative;
    cursor: pointer;
}

.btn-clear {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}

button{
    font-family: inherit;
}

.usermenu {
    position: relative;
}

.usermenu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.usermenu-button .user-profile-picture {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.user-profile-picture div[data-name=image] {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}


#container {
    max-width: 100%;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.observer-container{
    min-height: 99.5px;
}

.joongshin-container{
    max-width: 100%;
    height: 100%;
}

.questions {
    width: 60.625rem;
    padding-bottom: 5rem;
    margin: auto;
}

.questions-header {
    min-height: 99.5px;
    display: flex;
    justify-content: space-between;
    padding-top: 3.125rem;
    margin-bottom: 1.875rem;
    align-items: flex-end;
}

.questions-title {
    font-size: 2.125rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    color: #323232;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.write-button-desktop .b-dropdown button.btn.dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 2.75rem;
    padding: 0.625rem 1.5625rem 0.625rem 1.8125rem;
    border-radius: 6px;
    border: none;
    background-color: #00c7ae;
}

.btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}

.dropdown-toggle {
    white-space: nowrap;
}

.btn-primary {
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
   
}

button, input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.write-button-desktop .b-dropdown button.btn.dropdown-toggle:after {
    width: 1.125rem;
    height: 1.125rem;
    background-image: url(https://assets.cdn.soomgo.com/icons/icon-board-create.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    margin-left: 0.25rem;
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

#joongshin-container ul.category {
    display: flex;
    border-bottom: 0.0625rem solid #f4f4f4;
    margin-bottom: 1.875rem;
    margin-top: 0;
}

li.selected {
    border-bottom: 0.125rem solid #2d2d2d;
    margin-bottom: -0.0625rem;
}

.category li {
    display: flex;
    cursor: pointer;
}

#lifestyle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.3px;
}
.sg-font-regular {
    font-weight: 400;
}

.sg-text-subhead6, .sg-text-subhead7 {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.2px;
}

.sg-text-description {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.2px;
}

.lg\:sg-font-bold {
    font-weight: 700;
}

.sg-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(169,169,169,var(--tw-text-opacity));
}

.sg-text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(45,45,45,var(--tw-text-opacity));
}

.sg-text-subhead4, .sg-text-subhead5 {
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
}

li.selected .link-text {
    padding: 0.625rem 0.25rem 0.75rem;
}

li .link-text {
    padding: 0.6875rem 0.25rem 0.8125rem;
    color: inherit;
}

li+li {
    margin-left: 1.25rem;
}

.category li {
    display: flex;
    cursor: pointer;
}

#joongshin-topic-layout{
    width: 200px;
}

.questions-layout {
    display: flex;
    flex-direction: row;
}

.d-lg-none {
    display: none!important;
}

.questions-layout .search-bar {
    margin: 1.5rem 0 0.75rem;
}

#observer-container{    
    height: auto;
}

section {
    display: block;
}

.topic-filter-section .topic{
    padding-top: 1.875rem;
}

.topic {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    
}

.topic li.selected {
    background-color: #eafaf9;
    font-size: 14px;
    border-bottom: 0px;
}

li.selected span {
    font-weight: 700;
    margin-bottom: -0.0625rem;
}

.topic li {
    width: 12.5rem;
    padding: 1.0625rem 1.25rem;
    border-radius: 8px;
    margin: 0.125rem 0;
    cursor: pointer;
}

li .topic-link-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


li .icon-wrapper img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

img {
    vertical-align: middle;
}

.topic-filter-section {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: sticky;
    overflow: auto;
    top: 4.5rem;
    max-height: calc(100vh - 5rem);
    margin-top: -2rem;
}

.not-pointed{
    --tw-text-opacity: 1;
    color: rgba(169,169,169,var(--tw-text-opacity));
    font-size: 14px;
    line-height: 1.57142857;
    letter-spacing: -.3px;
    font-weight: 400;
}

.questions-content-layout{
    width: 37.5rem;
    margin-left: 5.3125rem;
}

.search-questions {
    position: relative;
    margin-bottom: 2.5rem;
}

form {
    width: 100%;
}


.input-group {
    align-items: center;
    width: 568px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #f4f4f4;
    height: 2.75rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
   
}

.input-group-prepend {
    margin-right: -0.0625rem;
    display: flex;

}
.input-group img.search {
    width: 1.625rem;
    height: 1.125rem;
    padding-right: 0.5rem;
}

.input-group .search-input {
    border: none;
    padding: 0;
    height: 100%;
    background: none;
    font-size: 1rem;
}

.input:focus{
	border: 1px solid #555;
    border-color: #00c7ae;
}

.input-group>.form-control {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.curation{
    height: 264px;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.curation .curation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    height: 28px;
}

.curation h2 {
    font-weight: 700;
    margin-bottom: 0;
    
}

.sg-text-headline, .sg-text-subhead1 {
    font-size: 18px;
    line-height: 1.55555556;
    letter-spacing: -.3px;
}

.curation .curation-page {
    font-size: .75rem;
    letter-spacing: -.0125rem;
    color: #888;
}

.curation .slick-slider {
    margin: 0 -0.3125rem;
    position: relative;
    height: 180px;
    width: 610px;
}

.curation .slick-slide {
    padding: 0 0.3125rem;
    display: block;
    cursor: pointer;
}


.curation .slick-arrow {
    width: 3rem;
    height: 3rem;
    z-index: 1;
    top: 8.625rem;
}
.curation .slick-arrow.slick-prev.slick-disabled {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.slick-next, .slick-prev {
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-150%);
    cursor: pointer;
    border: none;
}

.curation .slick-arrow.slick-next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxmaWx0ZXIgeD0iLTEyLjUlIiB5PSItMTAlIiB3aWR0aD0iMTI1JSIgaGVpZ2h0PSIxMjUlIiBmaWx0ZXJVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIGlkPSJhIj48ZmVPZmZzZXQgZHk9IjEiIGluPSJTb3VyY2VBbHBoYSIgcmVzdWx0PSJzaGFkb3dPZmZzZXRPdXRlcjEiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxLjUiIGluPSJzaGFkb3dPZmZzZXRPdXRlcjEiIHJlc3VsdD0ic2hhZG93Qmx1ck91dGVyMSIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yIDAiIGluPSJzaGFkb3dCbHVyT3V0ZXIxIi8+PC9maWx0ZXI+PGNpcmNsZSBpZD0iYiIgY3g9IjI0IiBjeT0iMjQiIHI9IjIwIi8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHVzZSBmaWxsPSIjMDAwIiBmaWx0ZXI9InVybCgjYSkiIHhsaW5rOmhyZWY9IiNiIi8+PHVzZSBmaWxsPSIjRkZGIiB4bGluazpocmVmPSIjYiIvPjxwYXRoIGQ9Ik0xMiAxMmgyNHYyNEgxMnoiLz48cGF0aCBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMS43IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0yMiAzMWw3LTctNy03Ii8+PC9nPjwvc3ZnPg==);
    right: -1.3125rem;
}

.curation .slick-arrow.slick-prev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxmaWx0ZXIgeD0iLTEyLjUlIiB5PSItMTAlIiB3aWR0aD0iMTI1JSIgaGVpZ2h0PSIxMjUlIiBmaWx0ZXJVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIGlkPSJhIj48ZmVPZmZzZXQgZHk9IjEiIGluPSJTb3VyY2VBbHBoYSIgcmVzdWx0PSJzaGFkb3dPZmZzZXRPdXRlcjEiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxLjUiIGluPSJzaGFkb3dPZmZzZXRPdXRlcjEiIHJlc3VsdD0ic2hhZG93Qmx1ck91dGVyMSIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yIDAiIGluPSJzaGFkb3dCbHVyT3V0ZXIxIi8+PC9maWx0ZXI+PGNpcmNsZSBpZD0iYiIgY3g9IjI0IiBjeT0iMjQiIHI9IjIwIi8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHVzZSBmaWxsPSIjMDAwIiBmaWx0ZXI9InVybCgjYSkiIHhsaW5rOmhyZWY9IiNiIi8+PHVzZSBmaWxsPSIjRkZGIiB4bGluazpocmVmPSIjYiIvPjxwYXRoIGQ9Ik0xMiAxMmgyNHYyNEgxMnoiLz48cGF0aCBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMS43IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0yNiAzMWwtNy03IDctNyIvPjwvZz48L3N2Zz4=);
    left: -1.3125rem;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.slick-track {
    width: 1020px;
    height: 180px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

:before {
    box-sizing: border-box;
}

.curation .slick-slide:first-child .admin-post {
    background-color: #00c7ae;
}
.curation-item {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 16px;
    background-color: #f4f4f4;
    height: 11.25rem;
    cursor: pointer;
}

.curation .slick-slide:first-child .admin-post p {
    color: #fff;
}

.curation-item .topic, .curation-item h3 {
    display: -webkit-box;
    line-height: 1.5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.375rem;
    font-weight: 500;
    max-height: 1.5em;
    -webkit-line-clamp: 1;
}

.curation-item h3 {
    flex: 1;
    color: #2d2d2d;
    margin-bottom: 1.5rem;
    font-weight: 700;
    max-height: 4.5em;
    -webkit-line-clamp: 3;
    margin-top: 0;
    font-size: 16px;
}

.curation .slick-slide:first-child .admin-post p {
    color: #fff;
}

.curation .slick-slide:first-child .admin-post h3, .curation .slick-slide:first-child .admin-post p {
    color: #fff;
}

.curation-item .user-name {
    margin-bottom: 0;
    color: #888;
    font-size: .75rem;
}

.service-area-filter {
    padding: 0.75rem 0;
}

.service-area-filter .chip-btn{
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    height: 2.375rem;
    font-size: .875rem;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    border: 0.0625rem solid #e1e1e1;
    color: #2d2d2d;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
}

.service-area-filter .filter-btn:after {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuNjY2IDhhLjcwOC43MDggMCAwMS45MjktMS4wNjRsLjA3My4wNjMgNS4zMzEgNS4zMzMgNS4zMzMtNS4zMzNhLjcwOC43MDggMCAwMS45My0uMDYzbC4wNzIuMDYzYS43MDguNzA4IDAgMDEuMDY0LjkzTDE2LjMzNCA4bC01LjgzMyA1LjgzM2EuNzA4LjcwOCAwIDAxLS45My4wNjRsLS4wNzItLjA2NEwzLjY2NiA4eiIgZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
    background-size: contain;
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
}

.service-area-filter .filter-btn span {
    font-weight: 400;
}

.questions-feed-list {
    padding: 0 0 5rem;
}

.feed-list {
    margin: 0;
}

.feed-item {
    padding: 1.25rem 0.5rem;
    border-bottom: 0.0625rem solid #f4f4f4;
    cursor: pointer;
    min-width: 584px;
}

.feed-item .topic-name {
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(136,136,136,var(--tw-text-opacity));
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.2px;

}

.feed-item .feed-content>div {
    flex: 1;
    padding-right: 1rem;
}

.feed-item .feed-content>img {
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
    border: 0.0625rem solid #f4f4f4;
}

.feed-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.feed-item h3 {
    display: -webkit-box;
    max-height: 1.57em;
    line-height: 1.57;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(45,45,45,var(--tw-text-opacity));
    font-size: 14px;
    letter-spacing: -.3px;
    font-weight: 500;
}


.feed-item .content {
    display: -webkit-box;
    max-height: 3.14em;
    line-height: 1.57;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.625rem;
    --tw-text-opacity: 1;
    color: rgba(136,136,136,var(--tw-text-opacity));
    font-size: 14px;
    letter-spacing: -.3px;
    font-weight: 400;
}


.feed-item .sub-information{
    margin-bottom: 0;
    --tw-text-opacity: 1;
    color: rgba(136,136,136,var(--tw-text-opacity));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.2px;
    font-weight: 400;
}

.feed-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-footer .user-interaction {
    display: inherit;
}

.feed-footer .like:before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDYuMjkzVjMuNzZjMC0xLjA1LS44MjYtMS45LTEuODQ0LTEuOWwtMi40NiA1Ljd2Ni45NjZoNi45MzZhMS4yNDEgMS4yNDEgMCAwMDEuMjMtMS4wNzZsLjg0OS01LjdhMS4yOTMgMS4yOTMgMCAwMC0uMjg4LTEuMDIyIDEuMjE1IDEuMjE1IDAgMDAtLjk0Mi0uNDM1aC0zLjQ4ek0zLjkzIDE0LjUyNkgyLjU2M2MtLjY3OSAwLTEuMjMtLjU2Ny0xLjIzLTEuMjY2VjguODI2YzAtLjcuNTUxLTEuMjY2IDEuMjMtMS4yNjZIMy45M3Y2Ljk2NnoiIGZpbGw9IiNDNUM1QzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 0;
    padding-right: 1.25rem;
}

.feed-footer .comment:before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuNjgyIDEuODZhNC45ODUgNC45ODUgMCAwMTQuOTg1IDQuOTg1djEuMzYzYzAgMS45MS0xLjA3NiAzLjU3LTIuNjU0IDQuNDA3djEuOTEyYS42NjcuNjY3IDAgMDEtLjk4Mi41ODdsLS4wNzEtLjA0NC0yLjYzNi0xLjg3N0g2LjMxOGE0Ljk4NSA0Ljk4NSAwIDAxLTQuOTg1LTQuOTg1VjYuODQ1QTQuOTg1IDQuOTg1IDAgMDE2LjMxOCAxLjg2aDMuMzY0em0tNC44NDkgNWEuODMzLjgzMyAwIDEwMCAxLjY2Ni44MzMuODMzIDAgMDAwLTEuNjY2em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjYuODMzLjgzMyAwIDAwMC0xLjY2NnptMyAwYS44MzMuODMzIDAgMTAwIDEuNjY2LjgzMy44MzMgMCAwMDAtMS42NjZ6IiBmaWxsPSIjQzVDNUM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat 0;
    padding-right: 1.25rem;
    margin-left: 0.75rem;
}

feed-item .feed-content {
    display: flex;
    margin-bottom: 0.875rem;
}