<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!--  데이터베이스 연결 정보와 각 매퍼 파일의 위치를 설정하고 있다 
	  매핑을 처리하는 프레임워크이며 알리아스로 이름을 짧게 설정 가능 
 -->
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.js.board.domain.BoardVO" alias="boardVO"/>
		<typeAlias type="com.js.board.domain.BoardDTO" alias="boardDTO"/>
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/app"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/js/mybatis/mapper/userMapper.xml"/>
		<mapper resource="com/js/mybatis/mapper/boardMapper.xml"/>
	</mappers>
</configuration>



