@charset "UTF-8";

* {
	box-sizing: border-box;
}

div {
	display: block;
}

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #323232;
	text-align: left;
	background-color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
}

.login-page {
	background-color: #fafafa;
	padding: 5rem 0;
}

.login-page h2, .find h2 {
	text-align: center;
	margin-bottom: 2.5rem;
	font-weight: 500;
	font-size: 2.125rem;
	line-height: normal;
	letter-spacing: normal;
}

.card {
	background-color: #FFFFFF;
	width: 100%;
	max-width: 26.5rem;
	border: .0625rem solid #f2f2f2;
	border-radius: 8px;
	padding: 2.5rem;
	margin: 0 auto;
	box-shadow: none;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}

form {
	display: block;
	margin-top: 0em;
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -.3125rem;
	margin-left: -.3125rem;
}

.col-12, .btn-17 {
	padding-right: .3215rem;
	padding-left: .3215rem;
}

.col-12, .col-14 {
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
	width: 100%;
}


.notice {
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
	font-size: .75rem;
	line-height: normal;
	letter-spacing: normal;
	color: #999 !important;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
}

.form-group {
	margin-bottom: 1.5rem;
}

.legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}

.legend-text {
	font-size: 0.94rem;
	/* 강사님께서 폰트 사이즈 0.7로 하라 하셨는데 클래스명을 잘못 입력해서 적용이 안되서 0.7로 해보니 너무 작아서 0.94로 수정하였음
	강사님께 개인적으로 질문 해서 수정하도록 하겠습니다. */
	padding-bottom: .375rem;
	font-weight: 500;
	padding-top: 0 !important;
	margin-bottom: 0;
	line-height: 1.5;
}

.inputclass {
	padding: .75rem !important;
	border-radius: 4px;
	display: block;
	width: 100%;
	height: calc(1.5em + 1.5rem);
	padding: .6875rem 1rem;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #323232;
	background-color: #fff;
	background-clip: padding-box;
	border: .0625rem solid #e1e1e1;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	overflow: visible;
	margin: 0;
	font-family: inherit;
}

.invalid-feedback, .invalid-feedback2 {
	display: block;
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
}

.invalid-feedback {
	color: #fa5963;
}

.invalid-feedback2 {
	text-align: center;
}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.btn-17 {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
	width: 3.125rem;
	z-index: 10;
	text-align: right;
	color: #00c7ae;
	font-weight: 400;
	font-size: .8rem;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	user-select: none;
	padding: .6875rem .75rem;
	line-height: 1.5;
	border-radius: .25rem;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	margin: 0;
	font-family: inherit;
	writing-mode: horizontal-tb !important;
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
}

.addressnumber, .certificationNumber {
	padding: .75rem !important;
	border-radius: 4px;
	display: block;
	width: 70%;
	height: calc(1.5em + 1.5rem);
	padding: .6875rem 1rem;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #323232;
	background-color: #fff;
	background-clip: padding-box;
	border: .0625rem solid #e1e1e1;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	overflow: visible;
	margin: 0;
	font-family: inherit;
	position: absolute;
}

.btn-address, .btn-certificationNumber {
	width: 25%;
	position: relative;
	left: 74%;
	margin: 0;
	padding: 0.6rem 0.7rem !important;
	font-size: 0.8rem;
	color: #fff;
	background-color: #00c7ae;
	border-color: #00c7ae;
	overflow: visible;
	border-radius: .25rem;
	border: .0625rem solid transparent;
}

.textbox {
	display: block;
	width: 100%;
	height: 200px;
	padding: 0.6875rem 1rem;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #323232;
	background-color: #fff;
	background-clip: padding-box;
	border: 0.0625rem solid #e1e1e1;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	overflow: visible;
	margin: 0;
	resize: none;
}

section {
	display: block;
}

.all-check {
	height: 1.5rem;
	padding-left: 1.375rem;
	position: relative;
	display: block;
	min-height: 1.5rem;
}

.checkbox {
	position: absolute;
	left: 0;
	z-index: -1;
	opacity: 0;
	background-color: initial;
	cursor: default;
	appearance: auto;
	border: initial;
}

.inputCheck {
	margin-top: 19px;
}

.terms-container {
	height: 100%;
	min-height: 9rem;
	margin-top: .9375rem;
	padding-top: 1rem;
	border-top: .0625rem solid #f2f2f2;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	padding: 0;
	margin: 0;
}

li {
	text-align: -webkit-match-parent;
}

ul li {
	list-style: none;
}

.term-item {
	display: flex;
	height: 1.25rem;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.term-item, .custom-checkbox {
	height: 100%;
	min-height: unset;
	padding-left: 0.65rem;
	cursor: pointer;
	position: relative;
	display: block;
}

.all-check-font {
	display: block;
	margin-top: -0.125rem;
	margin-left: 0.5rem;
	font-weight: 500;
	font-size: 1rem;
	color: #323232;
}

.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	cursor: pointer;
}

label {
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	cursor: pointer;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.term-label {
	font-size: .875rem;
	color: #737373;
	cursor: pointer;
	margin-left: 2px;
}

.btn-detail {
	border: 0;
	padding: 0;
	font-weight: 400;
	font-size: .875rem;
	color: #b5b5b5 !important;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	margin: 0;
	font-family: inherit;
	float: right;
	margin-top: 15px;
}

.searchdiv {
	display: flex;
	margin: 0 auto 2rem;
	font-size: .875rem;
}

.search {
	color: #737373;
	padding: .375rem .5rem;
	font-weight: 400;
	text-decoration: none;
}

.line {
	margin: auto .75rem;
	width: .0625rem;
	height: .75rem;
	background-color: #e1e1e1;
	display: flex;
	margin: 11 auto -2rem;
	font-size: .875rem;
}

.btn-signup, .btn-login {
	margin-top: .75rem;
	width: 100%;
	cursor: pointer;
	font-weight: 500;
	transition: opacity .2s ease-in-out;
	background-color: #00c7ae;
	border-color: #00c7ae;
	display: inline-block;
	vertical-align: middle;
	user-select: none;
	border: .0625rem solid transparent;
	padding: .6875rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	text-transform: none;
	overflow: visible;
	margin: 0;
}

.btn-login{
	margin-left: 5px;
}

.btntext {
	color: #fff;

}

#signUpButton {
	margin: 5px;
}

.btn-kakao {
	margin-top: 1rem;
	width: 100%;
	margin-bottom: .75rem;
	font-weight: 400;
	background-color: #fee500;
	border-color: #fee500;
	color: rgba(0, 0, 0, .85);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .2s ease-in-out;
	border: .0625rem solid transparent;
	padding: .6875rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	text-transform: none;
	margin: 0;
	font-family: inherit;
	overflow: visible;
}

.btn-naver {
	margin-top: 1rem;
	width: 100%;
	margin-bottom: .75rem;
	font-weight: 400;
	background-color: #03c75a;
	border-color: #03c75a;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .2s ease-in-out;
	border: .0625rem solid transparent;
	padding: .6875rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	text-transform: none;
	margin: 0;
	font-family: inherit;
	overflow: visible;
	border-color: #03c75a;
	color: #fff;
}

.col-13 {
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
	width: 100%;
	padding-right: 0.3215rem;
	padding-left: 0.3215rem;
	margin: 5px;
}