<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>고수 회원가입 페이지</title>
</head>
<link href="../../static/css/singupcss-hsw/basic.css" rel="stylesheet">
<body>
	<div>
		<div class="login-page">
			<h2>고수 회원가입</h2>
			<div class="card">
				<form>
					<div class="form-row">
						<div id="name" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">이름</legend>
								<div>
									<input name="username" type="text" placeholder="이름(실명)을 입력해주세요"
										maxlength="7" class="inputclass">
									<div class="invalid-feedback">이름을 입력해주세요.</div>
									<!-- 입력창 마우스로 클릭시 등장하게 스크립트 작성 -->
								</div>
							</fieldset>
						</div>
						<div id="email" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">이메일</legend>
								<div>
									<input name="email" type="email"
										placeholder="example@joongsin.com" maxlength="30"
										class="inputclass">
									<div class="invalid-feedback">이메일 주소를 입력해주세요.</div>
									<!-- 입력창 마우스로 클릭시 등장하게 스크립트 작성 -->
								</div>
							</fieldset>
						</div>
						<div id="password" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">비밀번호</legend>
								<div class="input-group">
									<input name="password" type="password"
										placeholder="영문+숫자 조합 8자리 이상 입력해주세요." class="inputpassword">
									<button type="button" class="btn">표시</button>
									<div class="invalid-feedback">비밀번호를 입력해주세요</div>
									<!-- 입력창 마우스로 클릭시 등장하게 스크립트 작성 -->
								</div>
							</fieldset>
						</div>
						<div id="address" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">주소</legend>
								<div>
									<div class="input-group">
										<input name="address" type="text" placeholder="우편번호" size="6"
											class="addressnumber">
										<button class="btn-address">우편번호</button>
									</div>
									<!-- 우편번호 검색 연결 -->
									<input name="address2" type="text" placeholder="상세주소"
										class="inputclass">
								</div>
							</fieldset>
						</div>
						<div id="number" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">전화번호</legend>
								<div>
									<input name="phoneNumber" type="number"
										placeholder="010-XXXX-XXXX" maxlength="11" class="inputclass">
									<div class="invalid-feedback">전화번호를 입력해주세요</div>
									<!-- 입력창 마우스로 클릭시 등장하게 스크립트 작성 -->
								</div>
							</fieldset>
						</div>
						<div id="selfProduce" class="col-12">
							<fieldset class="form-group">
								<legend class="legen-text">간편 이력서</legend>
								<textarea rows="3" cols="25"
									placeholder="300자 내외 자신의 경력을 작성해주세요." class="textbox"></textarea>
							</fieldset>
						</div>
						<div id="checkbox" class="col-12">
							<section>
								<div class="all-check">
									<input type="checkbox"> <label class="custom-control-label"><span class="all-check-font">전체동의</span></label>
								</div>
								<div class="terms-container">
									<div>
										<ul>
											<li class="term-item">
												<div class="custom-checkbox">
													<input type="checkbox" class="input-check"> <label class="custom-control-label">
														<p class="term-label">(필수) 이용약관 동의</p>
													</label>
												</div>
												<button type="button" class="btn-detail">보기</button>
											</li>
											<li class="term-item">
												<div class="custom-checkbox">
													<input type="checkbox" class="input-check"> <label>
														<p>(필수) 개인정보 수집 및 이용 동의</p>
													</label>
												</div>
												<button type="button">보기</button>
											</li>
											<li class="term-item">
												<div class="custom-checkbox">
													<input type="checkbox" class="input-check"> <label>
														<p>(필수) 14세 이상입니다.</p>
													</label>
												</div>
												<button type="button">보기</button>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
						<div id="signUpButton" class="col-12">
							<button type="submit" class="btn-signup">
								<span class="btntext">회원 가입</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>